h1 {
  font-size: 120px;
  font-weight: 600;
}

h2 {
  font-size: 96px;
  font-weight: 600;
}

h3 {
  font-size: 80px;
  font-weight: 600;
}

h4 {
  font-size: 48px;
  font-weight: 600;
}

h5 {
  font-size: 40px;
  font-weight: 700;
}

.text1-bold {
  font-size: 32px;
  font-weight: 700;
}

.text2-semibold {
  font-size: 28px;
  font-weight: 800;
}

.text3-semibold {
  font-size: 24px;
  font-weight: 600;
}

.text3-medium {
  font-size: 24px;
  font-weight: 500;
}

.text3-extrabold {
  font-size: 24px;
  font-weight: 800;
}

.text4-medium {
  font-size: 20px;
  font-weight: 800;
}
